<h2>Sign up
<script src="https://cdn.ckeditor.com/4.13.1/standard/ckeditor.js"></script>
</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autocomplete: "first-name" %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, autocomplete: "last-name" %>
  </div>

 <p>
    <%= f.label :select_company %><br>
    <%= f.collection_select :company_id, Company.order(:name),:id,:name, include_blank: true %>
  </p>

 <p>
    <%= f.label :select_role %><br>
    <%= f.collection_select :role_id, Role.order(:role_name),:id,:role_name, include_blank: true %>
  </p>

 <p>
    <%= f.label :start_date %><br>
    <%= f.date_field :start_date %>
  </p>
 
 <p>
    <%= f.label :end_date %><br>
    <%= f.date_field :end_date %>
  </p>

  <p>
    <%= f.label :monthly_charge %><br>
    <%= f.number_field :monthly_charge %>
  </p>

  <p>
    <%= f.label :notes %><br>
    <%= f.text_area :notes, name:'editor1' %>
  </p>

 <script>
                        CKEDITOR.replace( 'editor1' );
                </script>

  <p>
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </p>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
