
<%= form_for @node do |f| %>
 
  <% if @node.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@node.errors.count, "error") %> prohibited
        this node from being saved:
      </h2>
      <ul>
        <% @node.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    
 <p>
    <%= f.label :select_place %><br>
    <%= f.collection_select :place_id, Place.order(:place_name),:id,:place_name, include_blank: true %>
  </p>

  <p>
    <%= f.label :node_name %><br>
    <%= f.text_field :node_name %>
  </p>
 
 
  <p>
    <%= f.submit %>
  </p>
 
<% end %>