<p>
  <strong>Country name:</strong>
  <%= @country.country_name %>
</p>

 
<%= image_tag(@country.country_image.url, size:10*10) %></br>


<%= link_to 'Next page', new_state_path %> |

<%= link_to 'Edit', edit_country_path(@country) %> |

 
<%= link_to 'Back', countries_path %>
