<p>
  <strong>country name:</strong>
  <%= @city.state.country.country_name %>
</p>

<p>
  <strong>state name:</strong>
  <%= @city.state.state %>
</p>

<p>
  <strong>city name:</strong>
  <%= @city.city_name %>
</p>

<%= image_tag(@city.city_image.url, size:10*10) %></br>


  <p>
    <%= f.label :city_image %><br>
    <%= f.file_field :city_image %>
  </p>


<%= link_to 'Next page', new_company_path %> |


<%= link_to 'Back to New city', new_city_path %>     
 

