<p>
  <strong>country name:</strong>
  <%= @city.state.country.country_name %>
</p>

<p>
  <strong>state name:</strong>
  <%= @city.state.state %>
</p>

<p>
  <strong>city name:</strong>
  <%= @city.city_name %>
</p>

<%= link_to 'Next page', new_company_path %> |


<%= link_to 'Back to New city', new_city_path %>     
 

