
<%= form_for @place do |f| %>
 
  <% if @place.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@place.errors.count, "error") %> prohibited
        this place from being saved:
      </h2>
      <ul>
        <% @place.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    
 <p>
    <%= f.label :select_company %><br>
    <%= f.collection_select :company_id, Company.order(:name),:id,:name, include_blank: true %>
  </p>

  <p>
    <%= f.label :place_name %><br>
    <%= f.text_field :place_name %>
  </p>
 
 
  <p>
    <%= f.submit %>
  </p>
 
<% end %>